.DS_Store

bin/*
!data
bin/data/settings.xml

# Mac
resources/*
config.make
ASCIIImages.xcodeproj
Makefile
openFrameworks-Info.plist
Project.xcconfig
# addons.make

# Win
ASCIIImages.sdf
ASCIIImages.sln
ASCIIImages.vcxproj
ASCIIImages.vcxproj.filters
ASCIIImages.vcxproj.user
# addons.make
icon.aps
icon.rc
obj/*
.vs